{{ dpm(content.field_atores['#items'].getValue()) }}

{{ dpm(content.field_mostrar_post['#items'].getValue()) }}


{{ content.field_atores['#items'].getValue|last.value }}

{% for actor in  content.field_atores['#items'].getValue() %}
    {{ actor.value }} <br/>
{% endfor %}
{% if content.field_mostrar_post['#items'].getValue()|first.value == "1" %}
    <div class="movie-poster">
        {{ content.field_postar_filme }}
    </div>
{% else %}
    <h3>Eu não quero Mostrar filmes para você</h3>
{% endif %}

<div class="director">
    {{ content.field_diretor }}
</div>

<div class="actors">
    {{ content.field_atores }}
</div>


<div class="movie_description">
    {{ content.body }}
</div>